<h1><%= @product.name %></h1>


<p> Cost: <span class="cost-country">$<%= @product.cost %>.00</span ></p>
<p>Country:<span class="cost-country"> <%= @product.country %></span ></p>




<h5><%= link_to "Leave a review", new_product_review_path(@product) %></h5>
<ul>
  <% @product.reviews.each do |review| %>
  <li><%= review.content %></li>
  <% end %>
</ul>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to products", products_path %></p>
